/*Import the fonts used*/
@import url('https://fonts.googleapis.com/css?family=Courgette|Open+Sans:400,800&display=swap');
/*Basic reset*/

/* POP UP */
li.feature {
  list-style: none;
  margin-top: -1px;
  text-align: center;
  padding: 10px;
  cursor: pointer;
  border: 1px solid gray;
  border-collapse: collapse;
  font-size: 15px;
}
li:hover {
  background-color: lightgray;
}



.card {
  margin: auto;
}
#form1 {
  padding-top: 25px;
}

#form1 {
  padding-top: 25px;
}
.nav-feature:hover {
  color: #fff;
  background: #367e7c;
  text-decoration: none !important;
}
#popUpContainer {
  position:absolute;
  border: #0a0a23;
  z-index: 40;
  margin: right;
  
  bottom: 100px;
  right: 100px;

  font:  sans-serif;
  font-size: small;
  color: rgb(10, 10, 10);
  opacity:inherit;
  box-sizing:content-box;
  width: 300px;
  height: 200px;
  box-sizing: border-box;

}
/*POP UP*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
input {
  min-height: 30px;
  padding: 5px;
}
#button {
  background-color: #0a0a23;
  color: #fff;
  border: none;
  cursor: pointer;
  font-size: 15px;
  position: relative;
  margin-left: 10px;
  border-radius: 10px;
  padding: 15px;
  width: 100px;
}

.res {
  position: absolute;
  margin-top: 30px;
  margin-left: 80px;
}
:root {
  --dark-color: #2d2c2c;
  --purple-solid: #350a4f;
  --purple-transparent: rgba(53, 10, 79, 0.7);
  --purple-transparent-alt: rgba(53, 10, 79, 0.5);
  --purple-light: #8f50fb;
  --yellow-solid: #fa9e2c;
  --gradient-color: linear-gradient(
    to right,
    var(--yellow-solid),
    var(--purple-light)
  );
  --gradient-color-alt: linear-gradient(
    to right,
    var(--purple-light),
    var(--yellow-solid)
  );
}
html {
  font-size: 10px;
}
body {
  font-family: 'Open Sans';
  font-size: 1.6rem;
  color: var(--dark-color);
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}
section {
  justify-content: center;
  padding: 5rem 0;
}
.cotainer {
  width: 100px;
  max-width: 128rem;
  height: 100px;
  padding: 1.5pt;
  left: 0;
}
.header {
  width: 100%;
  height: 6rem;
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  background-color: gray;
  z-index: 999;
}
.btn {
  color: rgb(85, 49, 5);
  font-size: 1.3rem;
  font-weight: bold;
  text-transform: uppercase;
  padding: 0.5rem 3.5rem;
  border-radius: 10rem;
  border: none;
  display: inline-flex;
  align-items: center;
}
.logo img {
  max-width: 80%;
  left: 0;
  top: 0;
  display: block;
  margin-left: 0rem;
}
.logo {
  float: left;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 200px;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: medium;
}
.logo {
  top: 0;
  left: 0;
}
.hamburger-menu {
  display: inline;
  font-size: 3.6rem;
  cursor: pointer;
  position: absolute;
  z-index: 1600;
  width: 55px;
  height: 10px;
  right: 1px;
  top: 0px;
}

.hamburger-menu .fa-times {
  display: none;
}

.nav-list {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background-color: var(--dark-color);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  z-index: 1400;
  opacity: 0;
  transform: scale(0);
  transition: opacity 0.5s;
}
/* 
.menu-open .nav-list {
  opacity: 1;
  transform: scale(1);
} */
/* .nav-item:not(:last-child) {
  margin-bottom: 0.5rem;
} */
.nav-link {
  display:contents;
  color: rgb(8, 8, 7);
  font-size: 3rem;
  font-weight: bolder;
  text-transform: uppercase;
  left: 2px;
  padding: 1rem;
}

.hero {
  width: 100%;
  height: 100vh;
  background: url('background1.jpeg') center no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
}
.hero::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: inherit;
  height: inherit;
  background-color: var(--purple-transparent-alt);
  z-index: -1;
}

.main-heading {
  color: rgb(19, 17, 17);
  line-height: 1;
  text-shadow: 1px 1px 1rem rgba(0, 0, 0, 0.5);
  margin-bottom: 2.5rem;
}

.title {
  font-size: 4, 0rem;
  text-transform: uppercase;
  letter-spacing: 3px;
  text-decoration: underline;
}

.subtitle {
  font-size: 3.6rem;
  font-weight: 300;
  font-family: 'Courgette', cursive;
}

.btn {
  color: rgb(218, 218, 165);
  font-size: 1.3rem;
  font-weight: bold;
  text-transform: uppercase;
  padding: 0.5rem 3.5rem;
  border-radius: 10rem;
  border: none;
  display: inline-flex;
  align-items: center;
}
.btn-gradient {
  background-color: cornsilk;
  color: black;
}
.btn-gradient:hover {
  background-image: var(--gradient-color-alt);
}
.dots {
  font-size: 2.4rem;
  margin-left: 0.5rem;
  opacity: 0.75;
}

.booking {
  background-color: gray;
}
.input-group {
  margin-bottom: 1.5rem;
}
.input-label {
  display: block;
  font-size: 1.5rem;
  text-transform: uppercase;
  color: black;
  font-weight: bold;
  margin-bottom: 1rem;
}
.input,
.options {
  outline: none;
  border: none;
  width: 100%;
  min-height: 4rem;
  padding: 1rem;
  font-weight: bold;
  color: goldenrod;
  letter-spacing: 2px;
  font-family: 'Open Sans', sans-serif;
}

.form-btn {
  margin-top: 2.5rem;
  cursor: pointer;
}
.btn-purple {
  background-color: grey;
}
.btn-purple:hover {
  background-color: beige;
}

.footer {
  padding: 5px;
  text-align: center;
  background: #4a4a45;
  color: rgb(8, 8, 8);
}

.navbar {
  overflow: hidden;
  background-color: #4a4a45;
}

.navbar a {
  float: left;
  display: block;
  color: rgb(0, 0, 0);
  text-align: center;
  padding: 14px 20px;
  text-decoration: underline;
}

.navbar a.right {
  float: right;
}

.navbar a:hover {
  background-color: rgb(7, 7, 6);
  color: var(--yellow-solid);
}
.hotels {
  justify-content: center;
  text-align: center;
}

::placeholder{
  color: inherit;
}

.section-head{
  text-align: center;
  margin-bottom: 5rem;
}

.heading{
  display: block;
  font-size: 4rem;
  text-transform: uppercase;
}

.sub-heading{
  font-size: 1.7rem;
  font-family: 'Courgette',cursive;
  font-weight: 300;
  color: #a5a5aa;
}
.grid{
  display: grid;
  grid-template-columns: repeat(auto-fit , minmax(38rem,1fr));
  grid-gap: 2.5rem;
}

.grid-item{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.featured-hotels{
  height: 35rem;
  color:#fff;
  padding: 1rem;
  position: relative;
  z-index: 0;
}
.featured-hotels::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--purple-transparent-alt);

  z-index: -1;
}
